Analise exploratoria de dados

In [2]:
#!pip install minio

Collecting minio
  Downloading minio-7.1.2-py3-none-any.whl (75 kB)
Requirement already satisfied: certifi in c:\users\user\anaconda3\lib\site-packages (from minio) (2021.10.8)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from minio) (1.26.7)
Installing collected packages: minio
Successfully installed minio-7.1.2

In [6]:
!pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-0.8.0-cp39-cp39-win_amd64.whl (667 kB)
Requirement already satisfied: pandas>=1.1.0 in c:\users\user\anaconda3\lib\site-packages (from fastparquet) (1.3.4)
Requirement already satisfied: fsspec in c:\users\user\anaconda3\lib\site-packages (from fastparquet) (2021.10.1)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.5.0-cp39-none-win_amd64.whl (993 kB)
Requirement already satisfied: numpy>=1.18 in c:\users\user\anaconda3\lib\site-packages (from fastparquet) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.1.0->fastparquet) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.5.0 fastparquet-0.8.0

In [5]:
import pandas as pd
import datetime
import glob
from minio import Minio
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
client = Minio(
    'localhost:9000',
access_key='minioadmin',
secret_key='minioadmin',
secure=False
)

Baixando o dataset do data lake

In [7]:
client.fget_object(
'processing',
'employees_dataset.parquet',
'temp_.parquet',
)

df = pd.read_parquet('temp_.parquet')

In [8]:
df.isnull().sum()

department                    1
salary                        1
left                          1
mean_work_last_3_months       0
number_projects            9278
satisfaction_level            1
last_evaluation               1
time_in_company               1
work_accident                 1
dtype: int64

In [9]:
#organizando o dataset

In [33]:
df = df[['department', 'salary', 'left', 'mean_work_last_3_months',
       'number_projects', 'satisfaction_level', 'last_evaluation',
       'time_in_company', 'work_accident']]

In [34]:
df.number_projects.unique()

array([ 2.,  5.,  7.,  6.,  4.,  3.,  1., nan])

In [35]:
#verificando missing values
df.isnull().sum()

department                    1
salary                        1
left                          1
mean_work_last_3_months       0
number_projects            9278
satisfaction_level            1
last_evaluation               1
time_in_company               1
work_accident                 1
dtype: int64

In [18]:
df[df.notnull()]

,department,salary,left,left,mean_work_last_3_months,number_projects,satisfaction_level,last_evaluation,time_in_company,work_accident
0,sales,low,1.0,1.0,266.000000,2.0,38.0,53.0,3.0,0.0
1,sales,medium,1.0,1.0,252.000000,5.0,80.0,86.0,6.0,0.0
2,sales,medium,1.0,1.0,289.666667,7.0,11.0,88.0,4.0,0.0
3,sales,low,1.0,1.0,275.666667,5.0,72.0,87.0,5.0,0.0
4,sales,low,1.0,1.0,292.333333,2.0,37.0,52.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...
14995,technical,low,1.0,1.0,253.333333,NaN,37.0,48.0,3.0,0.0
14996,technical,medium,1.0,1.0,288.000000,NaN,37.0,53.0,3.0,0.0
14997,support,low,1.0,1.0,272.000000,NaN,11.0,96.0,4.0,0.0
14998,support,low,1.0,1.0,276.666667,NaN,37.0,52.0,3.0,0.0
14999,NaN,NaN,NaN,NaN,261.000000,NaN,NaN,NaN,NaN,NaN